@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    width: 100%;
    background-color: #262532;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.movieImage {
    width: auto;
    height: 100%;
    position: fixed;
}

.movieWrapper {
    display: flex;
    justify-content: space-between;
}

.movieImageWrapper {
    height: 90vh;
    width: auto;
}

.movieDetailWrapper {
    width: 49%;
    margin-right: 10%;
    margin-top: 5%;
}

.movieDetailWrapper h2 {
    margin: 32px 0px;
    padding-left: 20px;
    border-left: 3px solid #fff;
    font-size: 30px;
}

.movieOverview {
    text-align: justify;
}

.movieGenre {
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
    background-color: #fff;
    color: #262532;
    border-radius: 20px;
    margin-bottom: 20px;
}

.movieScore {
    float: right;
    padding: 12px;
    border-radius: 100%;
}

.badScore {
    background-color: #ef0a0a;
}

.goodScore {
    background-color: #0aef0a;
}

.navBar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff;
}

.navBarLink {
    padding: 0px 40px;
    color: #262532;
    text-decoration: none;
}

.navMobileButton {
    display: none;
}

@media screen and (max-width: 992px) {
    .movieWrapper {
        display: flex;
        justify-content: initial;
        flex-direction: column-reverse;
    }

    .movieImage {
        position: initial;
    }

    .movieImage {
        position: relative;
        width: 80%;
        height: auto;
        margin: auto;
    }

    .movieImageWrapper {
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .movieDetailWrapper {
        width: 80%;
        margin: auto;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .movieScore {
        position: initial;
    }

    .navBar {
        width: 104vw;
    }

    .navMobileButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .navMobileButton span {
        height: 5px;
        border-bottom: 1px solid #333;
        display: inline-block;
        width: 20px;
    }

    .navMenu {
        display: none;
    }

    .navMenu.navMenuActive {
        display: flex;
        flex-direction: column;
    }

    .navBarLink {
        padding: 10px 40px;
    }
}